button.button {
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  margin: 0;
  text-decoration: none;
  box-shadow: none;

  &.button--block {
    width: 100%;
  }

  &.button--plain {
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: inherit;

    &:hover {
      opacity: 0.85;
    }
  }

  &.button--default {
    border: 0.0625rem solid;
    border-radius: 0.25rem;
    color: $color-input-control-text;
    background-color: $color-input-control-background;
    font-size: 1.25rem;

    &.button--small {
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
    }

    &:hover {
      color: $color-input-control-text-active;
      background-color: $color-input-control-background-active;
      opacity: 1;
    }

    &:active {
      opacity: 0.85;
    }
  }
}
