@font-face {
  font-family: 'source-han-serif-hong-kong';
  src: url('~@fonts/source-han-serif-hong-kong/source-han-serif-hong-kong-bold.otf')
    format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'source-han-serif-hong-kong';
  src: url('~@fonts/source-han-serif-hong-kong/source-han-serif-hong-kong.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
