h1.title {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 1.25rem 0;
}

h2.subtitle {
  width: 100%;
  text-align: center;
  border-bottom: 0.0625rem solid $color-app-text;
  margin: 3.125rem 0 2.125rem 0;
  line-height: 0;
  font-size: 1.5rem;

  &:first-child {
    margin: 2.125rem 0;
  }

  &:before {
    content: ' ';
    border-bottom: 1px solid;
    width: 100%;
  }

  span {
    background: $color-app-background;
    padding: 0 0.5rem;
    position: relative;
    z-index: 1;
  }
}
