// Since Safari 14.0.2 does not support css rules
// &::backdrop, & + .backdrop
@mixin backdrop-styles {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.1875rem);
}

.modal {
  text-align: left;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  background-color: $color-modal-background;
  border: 0.125rem solid $color-modal-border;
  width: calc(100% - #{$app-padding} * 2);
  max-width: $chess-board-width * 1px;
  border-radius: 0.25rem;
  color: $color-modal-text;

  &::backdrop {
    @include backdrop-styles;
  }

  // polyfill
  & + .backdrop {
    @include backdrop-styles;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;

    @media #{$breakpoint-mobile} {
      grid-template-columns: repeat(1, 1fr);
      gap: 0.5rem;
    }
  }
}
