{
  "env":{
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "settings": {
    "import/resolver": [
      "node",
      {
        "webpack": {
          "config": "./webpack/webpack.base.conf.js"
        },
        "extensions": [".js"]
      }
    ]
  },
  "rules": {
    "import/extensions": ["error", {
      "js": "never"
    }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "comma-dangle": ["error", "never"],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-plusplus": ["off"]
  },
  "overrides": [
    {
      "files": ["webpack/**/*.js", "scripts/**/*.js"],
      "env":{
        "node": true
      },
      "extends": [
        "eslint:recommended",
        "airbnb-base"
      ],
      "settings": {
        "import/resolver": [
          "node"
        ]
      },
      "rules": {
        "import/extensions": ["error", {
          "js": "never"
        }],
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true,
            "optionalDependencies": false,
            "peerDependencies": false
          }
        ],
        "comma-dangle": ["error", "never"],
        "no-console": ["off"]
      }
    }
  ]
}
