$color-white: #ffffff;
$color-dark-grey: #262322;
$color-red: #c75152;
$color-dark-brown: #664f4c;
$color-mid-brown: #94837f;
$color-wheat: #ede8e0;

$color-app-background: $color-dark-brown;
$color-app-text: $color-white;

$color-control-background: $color-wheat;
$color-control-group-text: $color-dark-brown;
$color-control-group-text-active: $color-mid-brown;

$color-input-control-background: transparent;
$color-input-control-text: $color-white;
$color-input-control-background-active: $color-white;
$color-input-control-text-active: $color-dark-brown;
