mixin modal(id)
  - var slots = {};

  mixin slot(name)
    - slots[name] = block

  block

  button(id=attributes['id']+"-button" class="button button--default button--small")
    if slots['title']
      - slots['title']();
    else
      | Open Modal

  dialog.modal(id=attributes['id']+"-modal")
    if slots['title']
      h2.subtitle.modal__title
        span
          - slots['title']();

    .modal__body
      if slots['body']
        - slots['body']();

    .modal__footer
      button.button.button--default(id=attributes['id']+"-modal-ok-button")
        - slots['okText']();
      button.button.button--default(id=attributes['id']+"-modal-cancel-button")
        - slots['cancelText']();
